body {
  margin: 0;
  /* background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%); */
  background: linear-gradient(109.6deg, rgb(5, 80, 170) 11.2%, rgb(16, 220, 234) 53.7%, rgb(186, 226, 234) 100.2%);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  padding-top: 2vh;
  height: 100vh;
}

.App h1 {
  color:antiquewhite;
  text-transform: uppercase;
  font-size: 4rem;
}

.App h2 {
  color:antiquewhite;
  text-transform: uppercase;
  font-size: 1.2rem;
  text-decoration: none;
}

.App h3, .App h4 {
  color:antiquewhite;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-kerning: normal;
  line-height: 1rem;
  margin: 20px;
}

.btn_reset {
  padding:15px;
  border-radius: 5px;
  border: 1px solid #293;
  background-color: #293;
  box-shadow: 10px 10px 5px #00000055;
  color:#efe;
  text-transform: uppercase;
  font-size: 1rem;
  transition: all .6s;
}

.btn_reset:hover {
  background-color: #152;
  color:#fff;
  transition: all .3s;
  border: 1px solid #0e6;
}

.tablero_grupo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
}

.tablero_cabecera {
  display: flex;
  flex-direction: column;
}

.contenedor_local, .contenedor_visitante {
  background: radial-gradient(circle at 52.1% -29.6%, rgb(166, 239, 244) 0%, rgb(7, 215, 223) 100.2%);
  padding: 20px;
  border: none;
  border-radius: 15px;
  box-shadow: 10px 10px 10px #00000066;
}

.btn_inc {
  background: green;
}

.btn_dec {
  background: red;
}

.btn_dec, .btn_inc {
  padding: 10px;
  margin:3px;
  border-radius: 50%;
  border: 2px solid #aaeeee99;
  font-weight: 700;
  font-size: 1rem;
  color: white;
  transition: all .3s;
}

.btn_dec:hover, .btn_inc:hover {
  background-color: black;
  box-shadow: 5px 10px 2px #00000088;
  transition: all .5s;
}

.img_sel {
  width: 12rem;
  align-self: center;
  
}

