@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Carter+One&family=Fugaz+One&family=Lobster&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
font-family: 'Carter One', cursive;
  font-family: 'Fugaz One', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'Work Sans', sans-serif;

  Color primario: #F15A29
  Color secundario: #1ABC9C
  Color de acento: #F2C640
  Color de fondo claro: #F9F7F7
  Color de fondo oscuro: #282828
  Color de texto claro: #FFFFFF
  Color de texto oscuro: #222222

*/
:root {
  --color1: #ff6464;
  --color2: #ffbd67;
  --color3: #f8fe85;
  --color4: #5be7a9;
  --color5: #eae2b7;
  --color11: #ffbd67aa;
  --color13: #f8fe8599;
  --color22: #ff646499;
  --color31: #5be7a9aa;
  --color33: #f8fe8533;
  --color39: #f8fe8511;
  height: 100%;
  box-sizing: content-box;
  background-image: linear-gradient(100deg, var(--color2), var(--color3) );
}

body {
  
  background-image: linear-gradient(100deg, var(--color2), var(--color3) );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App, .mainContainer {
  
  margin: 0;
  padding: 0;
}

.homeContainer h1 {
  font-family: 'Lobster', cursive;
  color: var(--color4);
  font-size: 4rem;
  rotate: -7deg;
  text-shadow: 15px 20px 15px #00000066;
  margin: 0;
  padding:10px;
}

.App h6 {
  font-family: 'Lobster', cursive;
  color: var(--color1);
  font-size: 1.8rem;
  rotate: -7deg;
  text-shadow: 5px 3px 5px #00000066;
  margin: 0;
  padding:10px;
  transition: all 3s ease-in;
}

.App h6:hover {
  color: var(--color3);
  text-shadow: 8px 5px 7px #00000099;
  transition: all 1s ease-in;
}

.mainContainer {
  display: grid;
  box-sizing:content-box;
  grid-auto-flow: dense;
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 100px;
  grid-template-columns: repeat(auto-fill, 250px);
  width: 100vw;
  max-width: 1200px;
  min-height: 45vh;
  margin:auto;
  text-align: left;
  justify-content: center;
}

.mainContainer h3{
  position: absolute;
  z-index: 5;
  font-family: 'Carter One', cursive;
  max-width: 86%;
  overflow: hidden;
  color:var(--color3);
  text-align: center;
  font-size: auto;
  line-height: 1.6rem;
  margin: auto;
  transform: rotate(-7deg);
  text-shadow: 2px 2px 4px #111;
}

.mainContainer h4 {
  font-size: 1.5em;
  color: var(--color1);
  text-transform: uppercase;
  font-weight: 400;
  background-color: var(--color5);
  padding: 15px;
  margin: 0;
  border-radius: 5px;
  margin-bottom: 5px;
}

.mainContainer h5 {
  font-size: 1.4em;
  color: var(--color4);
  text-transform: uppercase;
  font-weight: 400;
  background-color: var(--color5);
  padding: 20px;
  margin: 0;border: 1px solid #fff;
  border-radius: 5px;
}

.mainContainer p {
  margin: 0;
  padding: 20px;
  text-align: left;
  max-height: 42.5vh;
  background-color: var(--color5);
  border: 1px solid #fff;
  border-radius: 5px;
  overflow-x: scroll;
  overflow-y: scroll;
}

.homeContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  grid-column: 1 / span 3;
  grid-row: 1 /span 1;
  margin: 0;
  background-image: linear-gradient(0deg, var(--color4), var(--color1) );
  padding: 30px;
  border-radius: 10px;
  text-shadow: #00000077 10px 10px 10px;
  box-shadow: 10px 10px 7px #00000022;
}

.homeContainer h2{
  font-family: 'Carter One', cursive;
  font-size: 3em;
  line-height: 1.1em;
  text-align: center;
  color: var(--color3);
  transform: rotate(-7deg);
}

.NavBar{
  display: flex;
  width: 80vw;
  min-width: max-content;
  background-image: linear-gradient(to left,var(--color39) 10%, var(--color2), var(--color39) 90%);
  border-top: 1px solid var(--color4);
  border-bottom: 1px solid var(--color4);
  padding: 15px;
  margin:auto;
  justify-content: space-around;
}

.NavBar div, .NavBar a {
  flex-direction: row;
  text-decoration: none;
  font-family: 'Fugaz One', cursive;
  font-size: 1.5rem;
  color: var(--color1);
  transition: all .2s ease-out;
  z-index: 15;
}

.NavBar a:hover {
  color: var(--color4);
  scale: 1.1;
  transition: all .5s ease-out;
}

.inputSearch {
  background-color: var(--color1);
  border: 2px solid var(--color3);
  border-radius: 30px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 1em;
  text-transform: uppercase;
  color: var(--color3);
  text-align: center;
  height: 53px;
  padding: 15px;
  margin: 15px;
  transition: all .5s ease-in;
}

.inputSearch:hover {
  box-shadow: 8px 8px 10px #00000066;
  transition: all .5s ease-out;
} 

.inputSearch::placeholder {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  color: var(--color5);
  font-size: 1em;
  text-transform: uppercase;
}

.centerOnGrid {
  grid-column: 3 / span 1;
}

.Productos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  background-image: linear-gradient(180deg, var(--color4), var(--color31) );
  border: 2px solid var(--color5);
  border-radius: 10px;
  padding: 20px ;
  box-shadow: 10px 10px 7px #00000022;
  transition: all .5s ease-out;
}

.Productos div {
  width: 100%;
  text-align: center;

}

.Productos img {
  width:170px;
  border-radius: 10px;
  object-position: center;
  filter: drop-shadow(2px 4px 6px #333);
  margin-bottom: 15px;
}

.Productos h4 {
  text-align: left;
  font-weight: 300;
  font-size: 1.1em;
  /* background-color: var(--color3); */
  color: #121212;
  margin: 15px;
}

.Productos:hover {
  border-color: var(--color1);
  transition: all 0.4s ease-in;
}

.Productos table {
  font-size: .9em;
  line-height: .9em;
  width: 100%;
  padding: 5px 10px 5px 10px;
  /* background-color: var(--color2); */
  padding: 10px;
}


.Productos td, .Productos th {
  width: 50%;
  font-weight: 400;
  padding: 10px;
  padding-top: 20px;
  text-align: left;
  background: linear-gradient(180deg, #00000001 70%, #00000016);
  border: none;

}

.ProdcutoData {
  background-color: var(--color5);
  border: 1px solid var(--color3);
  border-radius: 10px;
}

.imgContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.imgContainer a {
  display: block;
  width:90%;
  background-color: var(--color5);
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--color1);
  margin: auto;
  margin-bottom: 5px;
  font-family: 'Work Sans', sans-serif;
  font-size: .8em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color1);
  box-shadow: #00000066 1px 1px 3px;
  transition: all .5s ease-in;
}

.imgContainer a:hover {
  background-color: var(--color3);
  color: var(--color1);
  box-shadow: 8px 8px 10px #00000066;
  transition: all .5s ease-out;
}

.images {
  background-color: var(--color5);
  border-radius: 5px;
  border: 1px solid #fff;
  grid-column: 2 / span 2;
  max-height: 54vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.images img {
  width: 150px;
  padding: 5px;
}


.compra {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: .9em;
  font-weight: 400;
  justify-content: center;
  align-items: baseline;
  background-color: var(--color5);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.compra input {
  width: 35px;
  padding:5px;
  font-size: 1.1em;
  border: 1px solid var(--color1);
  background-color: var(--color5);
  color: var(--color1);
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
}

.compra button {
  background: transparent;
  border: 1px solid var(--color1);
  color:var(--color1);
  line-height: 1em;
  padding: 7px;
  transition: all .5s ease-in;
  border-radius: 5px;
}

.compra button:hover {
  background: var(--color1);
  border: 1px solid var(--color5);
  color:var(--color5);
  box-shadow: 8px 8px 10px #00000066;
  transition: all .5s ease-out;
}

.compra label {
  color:var(--color1);
  text-transform: uppercase;
  font-size: .88em;
  font-weight: 600;
  text-align: right;
  margin-left: 5px;
}

.nodal{
  position:absolute;
  display:flex;
  width: 100vw;
  height: 100vh;
  background: #04021999;
  backdrop-filter: blur(4px);
  left: 0;
  top: 0;
  z-index: 25;
  align-items: center;
  justify-content: center;
}

.nodalBackground{
  background-color: var(--color4);
  height:100vh;
  position:static;
  bottom: 0;
}

.message {
  height: fit-content;
  max-width: 250px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: var(--color2);
  font-size: 1.4em;
  padding: 5px;
  border-radius: 10px;
}

.message h5 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
  padding: 10px;
  margin: 5px;
  margin-bottom:10px;
  background: var(--color2);
  color:var(--color1);
  border-radius: 5px;
}

.message button {
  padding: 5px;
  margin: 5px;
  display: inline;
  background-color: var(--color3);
  color: var(--color1);
  max-width: fit-content;
  border: 1px solid white;
  border-radius: 5px;
}

.Footer {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: center;
  background-color: var(--color1);
  margin: 0;
}

.Footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Footer li {
  margin: 10px;
  list-style-type: none;
  font-family: 'Fugaz One';
  color:var(--color2);
}

.formContainer, .confirmData{
  position: relative;
  border: 1px  var(--color2) solid;
  border-radius: 10px;
  background-image: radial-gradient( circle farthest-corner at 10% 20%, var(--color5) 40%, #fff 90% );
  box-shadow: 10px 10px 7px #00000022;
  padding: 25px;
  width: fit-content;
  height:fit-content;
  font-family: 'Carter One', cursive;
  font-size: 1.1em;
  line-height: 1.2em;
  transition: height .5s ease-in;
}

.formContainer form, .confirmData div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 5px;
  color: var(--color1);
}

.formContainer label {
  color:var(--color1);
}

.formContainer span {
  display: block;
  border: 1px solid #900;
  color: #c00;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: .8em;
  padding: 5px;
  margin: 5px;
  width: 90%;
}

.formContainer input, 
.formContainer select, 
.formContainer button,
.confirmData button {
  border: 1px solid var(--color2);
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 15px;
  font-family: 'Work Sans', sans-serif;
  transition: all .5s ease-in;
}

.formContainer input {
  font-weight: 400;
  font-size: .9em;
}

.formContainer input:focus, 
.formContainer select:focus, 
.formContainer button:focus,
.formContainer input:hover, 
.formContainer select:hover, 
.formContainer button:hover {
  border: 1px solid var(--color2);
  box-shadow: 8px 8px 10px #00000066;
  transition: all .5s ease-out;
}

.outline {
  background-color: var(--color5);
  color: var(--color1);
  border: var(--color1) 1px solid;
}

.filled {
  background: var(--color1); 
  color: var(--color5);
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttonGroup input, .buttonGroup button {
  width: 100%;
  padding: 10px;
  margin: 0;
}

.buttonGroup > :first-child {
  border-radius: 10px 0 0 10px;
}

.buttonGroup > :last-child {
  border-radius: 0 10px 10px 0;
}

.confirmData {
  z-index: 10;
  box-shadow: #121212 5px 5px 2px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.confirmData div {
  border-bottom: 1px solid var(--color2);
}

.confirmData h3 {
  color:var(--color2);
}

.confirmData button {
  background-color: var(--color1);
  width: 30%;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.images::-webkit-scrollbar, .mainContainer p::-webkit-scrollbar {
  -webkit-appearance: none;
}

.images::-webkit-scrollbar:vertical {
  background-color: #00000066;
  width:10px;
}

.images::-webkit-scrollbar-button:increment,
.images::-webkit-scrollbar-button,
.mainContainer p::-webkit-scrollbar-button:increment,
.mainContainer p::-webkit-scrollbar-button  {
  color: #F00;
} 

.images::-webkit-scrollbar:horizontal,
.mainContainer p::-webkit-scrollbar:horizontal {
  height: 10px;
  width: 10px;
}

.images::-webkit-scrollbar-thumb,
.mainContainer p::-webkit-scrollbar-thumb {
  background-color: var(--color1);
  backdrop-filter: blur(5px);
  width: 8px;
  z-index: 10;
  transition: all .4s;
}

.images::-webkit-scrollbar-thumb:hover,
.mainContainer p::-webkit-scrollbar-thumb:hover  {
  background-color: var(--color2);
  transition: all .4s;
}

.images::-webkit-scrollbar-track,
.mainContainer p::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--color4);  
}